

.section-follow .fa-4x{
    margin: 5px 10px;

}


.body {
    background-image: url('LaikaMedia/jungle.gif');
    min-height: 1000px;
    background-size: cover;
    background-position: center;


}

